.app {
  min-height: 100vh;
  background-color: #eff4f0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.app h1 {
  color: #07070c;
  font-size: 42px;
  margin-bottom: 10px;
}

.app p {
  color: #05231e;
  font-size: 15px;
}